.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
  h3{
      background-color: #EEEEEE;
      padding: 1rem;
      margin-top: 0;
  }
  .warning-word{
    margin-left: 1rem;
  } 
  mat-toolbar {
    background: #3f51b5;
  }
  mat-toolbar > span{
      color: #FFF;
      font-weight: bold;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .mat-tab2 > .mat-tab-body-content{
      font-weight: bolder;
  }
  .mat-tab-group{
    height: auto;
    overflow: hidden;
  }
  mat-form-field {
    width: 50%;
    margin-left: 2rem;
    padding: 0 1rem;
  }
  .select-table-value{
    width: 80%;
  }
  .input-text-calc{
    margin: 0;
    padding: .5rem 0;
    width: 80%;

  }
  .checkname{
      height: 30px;
      width: 15%;
  }
  .checkname2{
      font-weight: 900;
      font-size: 1rem;
      margin-top: 1rem;
  }
  .checklist-name{
      font-weight: bold;
      height: auto;
      padding:  1rem;
  }
  .second-sub-title{
      font-size: .95rem;
      font-weight: bold;
      height: auto;
      padding:  1rem 1.5rem;
  }
  mat-list-item{
      margin: 1.75rem 0 1.5rem 0;
  }
  .mat-list2{
     padding: 0;
  }
  .required{
      background: #FF6666;
      border-radius: 5px;
      color: #FFF;
      margin-top: -1rem;
      padding: .5rem 1rem;
      font-size: .8rem;
      font-weight: 900;
      text-align: center;
  }
  mat-radio-group{
    height: auto;
      margin-left: 1rem;
  }
  mat-list-item{
      height: auto;
  }
  .conditon-btn{
    font-size: 1rem;
  }
  .example-button-row{
      width: 80%;
      text-align: right;
  }
  .example-button-row2{
     position: absolute;
     top: 5%;
     right: 5rem;
  }
  button{
      font-size: 1.25rem;
      padding: .5rem 1rem;
  }
  .plus-calc{
    padding:.5rem;
    font-size: .8rem;
    font-weight: 900;
  }
  .plus-calc-category{
    padding: .5rem;
    font-size: .5rem;
    font-weight: bold;
    margin-top: -5rem;
  }
  .group-add-plus{
    font-size: .85rem;
    font-weight: 900;
    margin: 1rem;
  }
  .delete-btn-icon{
    padding:.5rem;
    font-size: .8rem;
    font-weight: 900;
  }
  footer{
    width: 100%;
    background-color: #3f51b5;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
  }
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  mat-table{
    overflow: auto;
    max-height: 500px;
  }
  mat-header-row{
    background-color: #E0FFFF;
  }
  mat-header-cell{
    color: #000;
    font-weight: 900;
  }
  .gropu1-answerformat{
    margin-bottom: 1rem;
  }

  /***Accordion**/
  #Group-setting-frame{
    display: none;
    background-color: #C2EEFF;
    margin : .5rem;
  }
  #Group-setting-frame2,
  #Group-setting-frame3,
  #Group-setting-frame4{
    display: none;
    background-color: #C2EEFF;
    margin : .5rem;
    padding: 1rem 1.1rem;
  } 
  .header-group2{
    background-color: #C2EEFF;
    padding: 0;
  }
  .group1-title{
    background-color: #C2EEFF;
    margin: 0;
    padding: 0;
    font-weight: 900;
  }
  h5{
    color: #000;
    font-size: 1.1rem;
    font-weight: 900;
  }
  .sub-title-group2{
    width: 100%;
    text-align: left;
  }
  .icon-area{
    display: flex;
    text-align: right;
  }
  example-action-buttons {
    padding-bottom: 20px;
  }
  
  mat-expansion-panel{
    background-color: #E0FFFF;
  }
  mat-card{
    height: auto;
  }
  .group-dis-right{
    margin-right: .5rem;
    height: 30px;
  }
  .group-dis-calc{
    height: 30px;
    margin-right: 1rem;
    font-size: 1.5rem;
  }
  .group-dis-calcbtn{
    font-weight: 900;
  }
  .sub-delete{
    width: 100%;
    text-align: right;
  }
  .sub-delete > button{
    padding: 0;
  }
  .top-calc-set{
    width: 8%;
    margin-top: 1rem;
  }
  .top-calc-set2{
    width: 20%;
    margin-top: 1rem;
  }
  .messege-sub{
    margin-right: 1rem;
  }
  .no-area{
    font-size: 1.1rem;
  }
  .answer{
    font-size: 1.1rem;
    font-weight: 900;
  }
  .card-value{
    font-size: 1.1rem;
  }
  .card-check{
    font-size: 1.1rem;
    font-weight: 900;
    margin-left: 1rem;
  }
  .icon-confg{
    /*float: left;
    width: 75%;
    */
  }
  .icon-confg2{
    /*
    float: left;
    width: 20%;
    */
  }
  .checkbox-option1-area{
    padding: 1rem;
  }
  .text-option1,
  .option-opton1-area{
    height: 20px;
    width: 20%;
  }
  .btn-delete2{
    margin: .5rem;
    font-size: .5rem;
  }
  .clear-icons{
    margin-left: -.5rem;
    margin-top: -1rem;
  }
  .clear-icons2{
    margin-top: -2rem;

  }
  .alert-class-area{
    width: 100%;
  }
  #warning,
  #warning2,
  #setting-btn{
    font-size: .75rem;
    font-weight: 900;
  }
  .alert-mat-area{
    border: 2px solid #AAAAAA;
    margin-top: 1rem;
  }
  .condition-sub-area{
    border: 1px solid #D3D3D3;
  }
  .group2-card-display{
    padding: 1rem .5rem 2rem .5rem;
  }
  .group2-card-display-select-setting{
    padding-top: 2rem;
  }
  .mat-card-group2-part2{
    padding: 1rem .5rem 2rem .5rem;
  }
  .alert-keyword{
    font-weight: 900;
  }
  .condition{
    font-weight: 900;
  }
  .logical-area{
    top: .5rem;
    left: .5rem;
    padding: 0;
    margin: 0;
    width: 12%;
  }
  .logical-area-group2{
    top: .6rem;
  }
  .logical-area2{
    top: .5rem;
    padding: 0;
    margin: 0;
    width: 10%;
  }
  .comparison-ope{
    width: 15%;
  }
  .comparison-ope2{
    width: 20%;
  }
  .Group2{
    margin-top: 1.5rem;
  }
 .btn-delete2{
    height: 40px;
    width: 40px;
 }
 .Group2-display2-2{
   width: auto;
 }
 .group2-disp2-input{
   width: 40%;
 }
 #option-selected1{
   display: none;
 }
 .option-selected-title{
   font-weight: 900;
 }
 .select-input-option1{
   width: 20%;
 }
 .select-group-conditions{
   float: left;
   width: 25%;
 }
 .select-group-conditions2{
   float: left;
   width: auto;
 }
 .option-add{
   top: 5px;
   width: 16%;
 }
 #alert-class-area,
 #alert-class-area2{
    display: none;
 }
 #equalsign-display1-2,
 #equalsign-display2-2{
    display: none;
 }
 #group2-select-num-part1,
 #group2-calc-select-part1,
 #group2-select-choice-part1,
 #group2num-part1-disp,
 #group2choice-part1-disp,
 #option-selected1-1,
 #group2-calcval2-part2{
   display: none;
 }
 #group2choice-part1-num,
 #group2-numval-part2,
 #group2-choiche-part2,
 #group2-numvalue-disp2,
 #group2-choice-disp2,
 #group4-numval-part1,
 #group4-choiche-part1,
 #group4-numvalue-disp1,
 #group4-choice-disp1,
 #condition-add1,
 #text-area-add1,
 #condition-add2,
 #equalsign2-display2-2,
 #equal2sign2-display2-2,
 #num2selecttext2,
 #num2selectoption2,
 #group2-numval2-part2,
 #group2-choiche2-part2,
 #group2-numvalue2-disp2,
 #group2-choice2-disp2,
 #group4-numval2-part1,
 #group4-choiche2-part1,
 #group4-numvalue2-disp1,
 #group4-choice2-disp1
 {
    display: none;
 }
 #condition-group2-error{
   color: #FF6666;
   display: none;
   font-weight: 900;
 }
.group2-display2{
   margin-left: 2.25rem;
 }
 .card-frame-display,
 .condition-area-group2{
   margin-left: 3rem;
 }
 .item-group2-title{
   margin-right: 1rem;
 }
 .group2-item-setting{ 
   margin: 4rem 1rem 0 0;
 }
 .table-part3{
   margin-top: 2.25rem;
 }
.groupid-condition-span{
  font-weight: 900;
}
 #condition-add2{
   border-radius: 5px;
   border: 2px solid #A9A9A9;
 }
 #text-area-add1{
   border-radius: 5px;
   border: 2px solid #A9A9A9;
 }
 #condition-add1{
   margin: 0 2.2rem;
 }
 #equalsign-area-add1{
   margin: 0;
 }
 .span-setting-data1{
   font-size: 1.25rem;
   width: 100px;
 }
 .group2-card-area{
    border: 1px solid#DCDCDC;
    width: 70%;
 }
 .group3-card-area2{
    border: 1px solid#DCDCDC;
    width: 66%;
 }
 .group3-card-area3{
    border: 1px solid#DCDCDC;
    width: 60%;
 } 
 .btn-setting-data1{
   margin-right: 1rem;
 }
 .btn-flex{
  display: flex;
  flex-direction: row-reverse; 
 }
 #btn-block-subarea{
   display: none;
   flex-direction: row-reverse; 
 }
 .flexbox{
  display: flex;
 }
 .frame-sec{
   width: 100%;
 }
 .frame-set{
   background-color: #F5F5F5;
   padding: 1rem;
   margin-bottom: 1rem;
 }
 #Group-setting-frame2 > mat-card:nth-child(4){
    margin-left: 2rem;
 }
 #Group-setting-frame2 > mat-card:nth-child(5){
    margin-left: 4rem;
}
.block-btn{
    width: 100%;
    text-align: right;
}
.line-btn-area{
  margin-right: .25rem;
}
#sub-card-area{
    display: none;
    background-color:#DCDCDC;
    margin: 1rem 0 1rem 5rem;
}
#sub-nest-block{
    background-color: #F5F5F5;
    margin: 1rem 0 1rem 4rem;
}
#sub-tb-area,
#sub-nest-block{
    display: none;
    width: 90%;
}
#line-add-frame,
#sub-nest-line,
#sub-nest2-line,
#sub-new-setting-row{
   display: none;
}
.no-setteing-me{
   margin-top: 1rem;
   width: 25%;
}
